body{
  background: #fff;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
}

header{
  width: 100%;
  float: left;
  height: 100vh;
  background-image: url(../images/bg_1.jpg);
  background-repeat: no-repeat;
}

header .logo{
  width: 16%;
  float: left;
  background: #fff;
  padding: 0.25% 2%;
}

.logo img{
  width: 20%;
}

header .nav-section{
  width: 76%;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
  background: #fff;
}

.nav-section ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.slogan{
  width: 100%;
  color: #fff;
  text-align: center;
  float: left;
  font-size: 110%;
  animation: slogan 2s linear 1 reverse;
  position: relative;
  top: 20%;
}

@keyframes slogan {
  0%{
    top: 20%;
  }
  50%{
    top: 35%;
  }
  100%{
    top: 20%;
  }
}

#our-services{
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 2%;
}

#our-services ul{
  list-style-type: circle;
}

#our-services li{
  padding: 1% 0px;
  text-align: justify;
}

.col-full{
  width: 100%;
  float: left;
  background: #333;
}

.col-quarter{
  width: 21%;
  float: left;
  margin: 0px 2%;
}

.col-quarter img{
  width: 70%;
}


#about-team-piccolo{
  width: 100%;
  float: left;
  color: #fff;
  text-align: center;
}

.col-fill{
  width: 50%;
  float: left;
}

.col-extra{
  width: 46%;
  float: left;
  background: #333;
  padding: 2%;
}

.col-fill img{
  width: 96%;
  padding: 2% 2%;
}
