body{
	background:#eeeeee;
	margin:0px;
	font-size:13px;
	font-family:"Helvetica Neue", calibri, "Times New Roman";
	text-align:justify;
}

#container{
	width:960px;
	background:#fff;
	margin:0px auto;
}

.row{
	width:100%;
	background:#fff;
	float:left;
}

.logo{
	width:100%;
	text-align:center;
}

.logo img{
	width:125px;
}

.title{
	width:10%;
	background:red;
	float:left;
	padding:5px 0.5%;
	color:#fff;
	text-align:center;
}

.latest_update{
	width:88%;
	background:#ccc;
	float:left;
	padding:5px 0.5%;
}

nav{
	background:#666666;
	color:#fff;
	padding-bottom:1%;
	padding-top:0.2%;
	width:100%;
	float:left;
}

nav ul li{
	display:inline;
	margin-right:4%;
	margin-left:4%;
	width:150px;
	float:left;
}

nav ul li a{
	color:#fff;
	text-decoration:none;
	padding:2px 3px;
	text-transform:uppercase;
} 

nav ul li ul{
	display:none;
}

nav ul li:hover ul{
	display:block;
	float:none;
	margin-left:-42px;
}

#gallery{
	width:100%;
	float:left;
}

#gallery img{
	width:100%;
}

#content{
	width:100%;
	float:left;
	background:#fff;
	color:#000;
	margin:0px 0px 0% 0px;
	padding-top:1%;
}

.col-full{
	width:96%;
	float:left;
	margin-right:2%;
	margin-left:2%;
	margin-bottom:2%;
}

.col-half{
	width:46%;
	float:left;
	margin-right:2%;
	margin-left:2%;
	margin-bottom:2%;
}

.col-half .boxes{
	background:#ddd;
	float:left;
	width:50%;
	padding:15% 25%;
	cursor:pointer;
}

.col-half img{
	width:100%;
}

.col-one-third{
	width:29.33333333333333%;
	float:left;
	margin-right:2%;
	margin-left:2%;
	margin-bottom:2%;
}

.col-quarter{
	width:21%;
	float:left;
	margin-right:2%;
	margin-left:2%;
	margin-bottom:2%;
}

.col-one-fifth{
	width:16%;
	float:left;
	margin-right:2%;
	margin-left:2%;
	margin-bottom:2%;
}

.col-quarter img{
	width:100%;
	border:1px solid #000;
}

.col-one-fifth img{
	width:100%;
	border:1px solid #000;
}

#feed_back p{
	font-style:italic;
}

#feed_back img{
	border:none;
	border-radius:50%;
}

footer{
	width:100%;
	background:#161616;
	float:left;
	color:#fff;
}

footer ul{
	list-style-type:square;
}

footer a{
	color:#fff;
	text-decoration:none;
}

footer a:hover{
	text-decoration:underline;
}

.black_bg{
	background:#161616;
}

#copyright{
	width:100%;
	float:left;
	background:#fff;
	color:#000;
}

#copyright a{
	color:#000;
	text-decoration:underline;
}

table{
	width:94%;
}

th{
	text-align:left;
	text-transform:uppercase;
	border-top:2px solid #999;
	border-bottom:2px solid #111;
	border-left:1px solid #000;
	border-right:1px solid #000;
	background:#666666;
	color:#fff;
	width:7%;
}

th, td{
	padding:2px 3% 2px 3%;
}

tr td{
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	border-top:1px solid #000;
}

select, input[type="text"], input[type="password"]{
	width:42%;
	height:35px;
}

input[type="submit"]{
	height:35px;
}

.username{
	background-image:url("../images/user_icon.png");
	background-repeat:no-repeat;
	background-size:contain;
	padding-left:35px;
	padding-right:25px;
}

.password{
	background-image:url("../images/password_icon.png");
	background-repeat:no-repeat;
	background-size:contain;
	padding-left:35px;
	padding-right:25px;
}

#form_sign_up{
	background:#666;
	padding-top:0.3%;
	width:100%;
	float:left;
	color:#fff;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
}

#form_sign_up input[type="text"], #form_sign_up input[type="password"], #form_sign_up input[type="date"]{
	width:100%;
	height:35px;
}

#form_sign_up input[type="radio"]{
	width:10%;
	height:15px;
	position:relative;
	top:5px;
}

#form_sign_up input[type="submit"]{
	float:right;
	height:45px;
	border:none;
	border-radius:10px;
	width:20%;
}

iframe{
	height:270px;
}